<div class="homepage">
	<h2 class="orange-text">Hey ATL, Where's the Bus?</h2>

	<div>
		<p class="blue-text">
			This app lets you know if you if there is a bus making its next stop at the MARTA station you are currently located at. Follow the links to choose your station.
		</p>
	</div>
</div>